<header id="header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-2 medium-order-1 show-for-medium">
                <a href="#">
                    <h1>Tattoo</h1>
                </a>
            </div>
            <div class="cell small-1 medium-order-3 medium-1 small-order-2" style="display: flex; justify-content: center; align-items: top;">
                <button type="button" style="display: block; height: 12px; margin-top: 10px;" data-toggle="offCanvas"><i class="fi-list"></i></button>
            </div>
            <div class="cell small-11 medium-4 medium-offset-5 medium-order-2 small-order-1">
                {{> navigation-menu}}
            </div>
        </div>
    </div>
</header>