<ul class="vertical menu" data-smooth-scroll id="offCanvasMenu">
    <li><a href="#">Carrito <i class="fi-shopping-cart"></i></a></li>
    <li><a href="#">Perfil <i class="fi-torso"></i></a></li>
    <li><a href="#productList">Productos <i class="fi-thumbnails"></i></a></li>
    <li><a href="#">Configuración <i class="fi-widget"></i></a></li>
    <li><a href="#">Consejos <i class="fi-check"></i></a></li>
    <li><a href="#">FAQ <i class="fi-comment"></i></a></li>
    <li><a href="#">Contacto <i class="fi-telephone"></i></a></li>
</ul>