<ul class="menu text-uppercase hide-for-large margin-bottom-1">
    <li>
        <a href="#">Todos</a>
    </li>
    <li>
        <a href="#">Nuevos</a>
    </li>
    <li>
        <a href="#">Los más vendidos</a>
    </li>
    <li>
        <a href="#">Accesorios</a>
    </li>
    <li>
        <a href="#">Para regalar</a>
    </li>
    <li>
       <hr>
    </li>
    <li>
        <a href="#" class="font-bold">Custom italy</a>
    </li>
</ul>

<ul class="vertical menu text-uppercase show-for-large">
    <li>
        <a href="#">Todos</a>
    </li>
    <li>
        <a href="#">Nuevos</a>
    </li>
    <li>
        <a href="#">Los más vendidos</a>
    </li>
    <li>
        <a href="#">Accesorios</a>
    </li>
    <li>
        <a href="#">Para regalar</a>
    </li>
    <li>
       <hr>
    </li>
    <li>
        <a href="#" class="font-bold">Custom italy</a>
    </li>
</ul>